<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../js/vue.js"></script>
</head>

<body>
    <div id="app">

        <h2>当前n的值是:{{n}}</h2>
        <button @click="n++">点我n+1</button>

        <!-- <div v-show="n==1">angular</div>
        <div v-show="n==3">react</div>
        <div v-show="n==5">vue</div> -->

        <!-- <div v-if="n==1">angular</div>
        <div v-if="n==3">react</div>
        <div v-if="n==5">vue</div> -->


        <div v-if="n==1">angular</div>
        <div v-else-if="n==3">react</div>
        <div v-else>vue</div>
    </div>
    <script>
        Vue.config.productionTip = false
        new Vue({
            el: '#app',
            data() {
               return {
                  n:0
               }
            }
        })
    </script>
</body>

</html>