<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../js/vue.js"></script>
</head>

<body>
    <div id="app">
        姓：<input v-model="firstName"></input> <br><br>
        名：<input v-model="lastName"></input> <br><br>
        全名：<span>{{firstName.sclice(0,3)}}-{{lastName}}</span>
    </div>


    <script>
        Vue.config.productionTip = false

        new Vue({
            el: '#app',
            data() {
               return {
                firstName: 'zhang',
                lastName: 'san'
               }
            }
        })
    </script>
</body>

</html>